.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.cart-item img {
  width: 50px;
  height: auto;
  object-fit: cover;
  margin-right: 10px;
}

.item-controls {
  margin-top: 5px;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.quantity-control button:disabled {
  background-color: #ccc;
}

.remove-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Space between quantity controls and remove button */
}

.remove-btn:hover {
  background-color: #c82333;
}
